# Python
__pycache__/
*.pyc
*.pyo
*.db
venv/
.venv/
backend/.env

# Node
node_modules/
frontend/.next/
frontend/out/
.vercel/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.production
